extends layout

block content
  h1= title
  p Welcome to #{title}

  body
  form(action='/tweeter', method='GET')
    p
      | title: 
      input(type="text" name="handle" placeholder="Insert twitter handle")
    input(value='Get tweets', type='submit',data-transition='fade', data-theme='c')