doctype html
html
  head
    script(src='/socket.io/socket.io.js')
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content

script.
  const socket = io();

  const streamed = [];

  socket.emit('client', 'Hello from client');

  socket.on('connect', () => {
    console.log('Client connected to server'); // world
  });
  socket.on("hello", (arg) => {
    console.log(arg); // world
  });
  console.log('testing: '+ streamed);

  socket.on("tweet", (arg) => {
    console.log('new tweet: '+ arg);

    streamed.pop()
    streamed.push(arg)
    console.log(streamed)
    
    for (let i of streamed){ 
      let li = document.createElement("li");     
      li.innerHTML = i;
      document.getElementById("streamed").appendChild(li);
    }
  });
