doctype html
html
  head
    script(src='/socket.io/socket.io.js')
    title= title
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content

script.
  const socket = io();

  const streamed = [];

  socket.on("tweet", (arg) => {
    console.log('new tweet: '+ arg);

    streamed.pop()
    streamed.push(arg)
    console.log(streamed)
    
    for (let i of streamed){ 
      let li = document.createElement("li");     
      li.innerHTML = i;
      document.getElementById("streamed").appendChild(li);
    }
  });