extends layout

block content
  h1 List of tweets
  h3 Viewing #{rows.data.length} tweets of #{handle}

  each item in rows.data
    li= item.text
  h2 Any new published tweets will be seen here:
  ul#streamed


